# Clean the data

plot configuration

In [205]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import tarfile
import os
import sklearn
from sklearn.preprocessing import StandardScaler

# Configuring display settings
plt.rcParams['figure.figsize'] = (12, 9)
sns.set()
sns.set_context('talk')
np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)
pd.set_option('display.float_format', '{:.2f}'.format)
warnings.filterwarnings("ignore", category=FutureWarning)

## files importation

In [206]:
# Extract the .tgz file (use a local directory to avoid /mnt permission issues)
folder_path = 'data/'
employee_file_name = 'employee_survey_data.csv'
general_file_name = 'general_data.csv'
manager_file_name = 'manager_survey_data.csv'
#for the in out time 
time_folder_path = 'in_out_time/'
in_time_file_name = 'in_time.csv'
out_time_file_name = 'out_time.csv'

# Load each dataset
employee_data = pd.read_csv(os.path.join(folder_path, employee_file_name))
general_data = pd.read_csv(os.path.join(folder_path, general_file_name))
manager_data = pd.read_csv(os.path.join(folder_path, manager_file_name))
in_time_data = pd.read_csv(os.path.join(folder_path, time_folder_path, in_time_file_name))
out_time_data = pd.read_csv(os.path.join(folder_path, time_folder_path, out_time_file_name))

#display the info of each dataset

# print("Employee Data Info:")
# print(employee_data.info())
# print("\nGeneral Data Info:")
# print(general_data.info())
# print("\nManager Data Info:")
# print(manager_data.info())
# print("\nIn Time Data Info:")
# print(in_time_data.info())
# print("\nOut Time Data Info:")
# print(out_time_data.info())

## Clean and merge In/Out data

In [207]:
# merge in_time and out_time data on the first column (Unknown that is actually EmployeeID)
# rename the first column to EmployeeID for both datasets because it is unnamed
in_time_data.rename(columns={in_time_data.columns[0]: 'EmployeeID'}, inplace=True)
out_time_data.rename(columns={out_time_data.columns[0]: 'EmployeeID'}, inplace=True)

#check if days are present in both datasets
in_time_days = set(in_time_data.columns[1:])
out_time_days = set(out_time_data.columns[1:])
missing_in_out = in_time_days.difference(out_time_days)
# display the missing days
print(f"Days missing in either in_time or out_time data: {missing_in_out}")

# go through each column to check empty cells present only in one of the datasets
for day in in_time_days.intersection(out_time_days):
    in_time_empty = set(in_time_data.index[in_time_data[day].isnull()])
    out_time_empty = set(out_time_data.index[out_time_data[day].isnull()])
    missing_in_out_rows = in_time_empty.symmetric_difference(out_time_empty)
    if missing_in_out_rows:
        print(f"Day {day} has missing entries in either in_time or out_time data at rows: {missing_in_out_rows}")

# convert all columns except the first one to datetime format
for col in in_time_data.columns[1:]:
    in_time_data[col] = pd.to_datetime(in_time_data[col], format='%Y-%m-%d %H:%M:%S', errors='coerce')
for col in out_time_data.columns[1:]:
    out_time_data[col] = pd.to_datetime(out_time_data[col], format='%Y-%m-%d %H:%M:%S', errors='coerce')

#function to remove columns depending on distinct values for relevance
def remove_col_depending_on_distinct_values(df,start_threshold=0, end_threshold=1):
    cols_to_remove = []
    for col in df.columns:
        if start_threshold <= df[col].nunique() <= end_threshold:
            cols_to_remove.append(col)
    df.drop(columns=cols_to_remove, inplace=True)
    return df

# merge in and out time data based on EmployeeID
time_data = pd.merge(in_time_data, out_time_data, on='EmployeeID', suffixes=('_in', '_out'))

# create a new column for each day calculating the difference between out and in time in hours
# use pd.concat to avoid DataFrame fragmentation
hours_columns = {}
for day in in_time_days.intersection(out_time_days):
    hours_columns[f'{day}_hours'] = (time_data[f'{day}_out'] - time_data[f'{day}_in']).dt.total_seconds() / 3600.0

# Concatenate all hours columns at once and create a new column called "duration_hours"
time_data = pd.concat([time_data, pd.DataFrame(hours_columns, index=time_data.index)], axis=1)
time_data['duration_hours'] = time_data[list(hours_columns.keys())].sum(axis=1)

# remove columns with only one or 0 distinct values
remove_col_depending_on_distinct_values(time_data, end_threshold=0)

# remove all the day columns keeping only duration_hours and EmployeeID
time_data = time_data[['EmployeeID', 'duration_hours']]
# insert the hour work by day columns back to time_data
time_data = pd.concat([time_data, pd.DataFrame(hours_columns, index=time_data.index)], axis=1)

print(time_data.describe())

Days missing in either in_time or out_time data: set()
       EmployeeID  duration_hours  2015-07-20_hours  2015-04-02_hours  \
count     4410.00         4410.00           4197.00           4207.00
mean      2205.50         1821.28              7.70              7.71
std       1273.20          331.36              1.37              1.37
min          1.00         1348.80              5.27              5.12
25%       1103.25         1563.57              6.65              6.68
50%       2205.50         1745.78              7.40              7.42
75%       3307.75         1967.30              8.39              8.38
max       4410.00         2723.38             11.93             11.60

       2015-09-01_hours  2015-12-24_hours  2015-01-19_hours  2015-10-07_hours  \
count           4187.00           4160.00           4182.00           4183.00
mean               7.71              7.72              7.69              7.72
std                1.38              1.38              1.38              1.38
min                4.95              5.12              5.08              5.29
25%                6.68              6.67              6.65              6.68
50%                7.41              7.41              7.41              7.43
75%                8.41              8.41              8.43              8.43
max               11.68             11.97             11.66             11.50

       2015-12-29_hours  2015-11-13_hours  2015-10-15_hours  2015-03-30_hours  \
count           4180.00           4191.00           4177.00           4188.00
mean               7.71              7.70              7.70              7.71
std                1.37              1.38              1.38              1.38
min                5.11              5.28              5.08              5.12
25%                6.67              6.65              6.64              6.66
50%                7.43              7.43              7.43              7.43
75%                8.40              8.39              8.38              8.40
max               11.61             11.64             11.66             11.81

       2015-02-25_hours  2015-06-19_hours  2015-11-10_hours  2015-12-18_hours  \
count           4176.00           4185.00              0.00           4171.00
mean               7.71              7.71               NaN              7.71
std                1.37              1.38               NaN              1.38
min                5.21              5.22               NaN              5.07
25%                6.66              6.67               NaN              6.66
50%                7.43              7.44               NaN              7.40
75%                8.42              8.40               NaN              8.41
max               11.70             11.78               NaN             11.57

       2015-09-15_hours  2015-07-13_hours  2015-03-13_hours  2015-08-17_hours  \
count           4200.00           4201.00           4219.00           4180.00
mean               7.71              7.70              7.71              7.71
std                1.38              1.38              1.37              1.37
min                5.26              5.10              5.29              5.06
25%                6.67              6.65              6.66              6.68
50%                7.43              7.42              7.42              7.42
75%                8.37              8.42              8.41              8.38
max               11.77             11.60             11.60             11.84

       2015-11-12_hours  2015-08-18_hours  2015-07-14_hours  2015-08-04_hours  \
count           4170.00           4216.00           4179.00           4202.00
mean               7.71              7.71              7.71              7.71
std                1.38              1.38              1.38              1.37
min                5.40              5.15              5.15              5.23
25%                6.66              6.66              6.67              6.67
50%                7.42              7.42              7.42              7.44
75%                8.41              8.38              8.41              8.39
max               11.79             11.75             11.67             11.73

       2015-08-06_hours  2015-03-03_hours  2015-04-09_hours  2015-08-11_hours  \
count           4186.00           4182.00           4178.00           4173.00
mean               7.70              7.70              7.71              7.71
std                1.37              1.37              1.38              1.38
min                5.12              5.22              5.09              5.03
25%                6.64              6.67              6.66              6.66
50%                7.42              7.41              7.41              7.42
75%                8.38              8.38              8.41              8.42
max               11.59             11.66             11.71             11.91

       2015-03-12_hours  2015-08-31_hours  2015-09-10_hours  2015-07-24_hours  \
count           4191.00           4184.00           4206.00           4172.00
mean               7.72              7.70              7.71              7.70
std                1.37              1.37              1.38              1.38
min                5.24              5.20              5.16              5.13
25%                6.69              6.66              6.65              6.66
50%                7.43              7.41              7.41              7.41
75%                8.41              8.38              8.39              8.40
max               11.70             11.79             11.77             11.55

       2015-10-08_hours  2015-05-11_hours  2015-12-21_hours  2015-04-01_hours  \
count           4166.00           4181.00           4194.00           4192.00
mean               7.71              7.71              7.70              7.71
std                1.37              1.38              1.38              1.37
min                5.32              5.34              4.81              5.13
25%                6.67              6.67              6.66              6.69
50%                7.41              7.43              7.42              7.42
75%                8.41              8.41              8.40              8.39
max               11.59             11.83             11.53             11.65

       2015-04-07_hours  2015-09-29_hours  2015-02-13_hours  2015-05-07_hours  \
count           4186.00           4191.00           4198.00           4187.00
mean               7.70              7.70              7.71              7.71
std                1.39              1.37              1.38              1.37
min                5.22              5.00              4.79              5.25
25%                6.65              6.64              6.65              6.67
50%                7.41              7.41              7.42              7.42
75%                8.38              8.34              8.40              8.40
max               11.73             11.48             11.78             11.59

       2015-07-28_hours  2015-04-14_hours  2015-06-15_hours  2015-09-25_hours  \
count           4198.00           4203.00           4179.00           4170.00
mean               7.70              7.71              7.71              7.71
std                1.37              1.38              1.38              1.37
min                5.35              5.22              5.21              4.90
25%                6.67              6.66              6.68              6.68
50%                7.43              7.42              7.42              7.43
75%                8.37              8.40              8.38              8.45
max               11.47             11.59             11.66             11.49

       2015-12-03_hours  2015-01-05_hours  2015-01-06_hours  2015-03-31_hours  \
count           4182.00           4204.00           4182.00           4199.00
mean               7.71              7.70              7.71              7.70
std                1.39              1.37              1.38              1.37
min                5.03              4.77              5.00              5.22
25%                6.65              6.66              6.66              6.65
50%                7.43              7.40              7.43              7.41
75%                8.40              8.40              8.38              8.38
max               11.61             11.61             11.57             11.51

       2015-05-18_hours  2015-12-25_hours  2015-05-14_hours  2015-01-22_hours  \
count           4180.00              0.00           4198.00           4170.00
mean               7.71               NaN              7.71              7.71
std                1.38               NaN              1.38              1.37
min                5.14               NaN              5.05              5.02
25%                6.67               NaN              6.66              6.67
50%                7.41               NaN              7.43              7.42
75%                8.40               NaN              8.38              8.40
max               11.59               NaN             11.73             11.59

       2015-08-19_hours  2015-04-03_hours  2015-07-22_hours  2015-10-02_hours  \
count           4177.00           4176.00           4198.00              0.00
mean               7.71              7.71              7.71               NaN
std                1.38              1.38              1.37               NaN
min                5.15              5.21              5.28               NaN
25%                6.67              6.66              6.67               NaN
50%                7.42              7.42              7.44               NaN
75%                8.39              8.40              8.39               NaN
max               11.50             11.58             11.66               NaN

       2015-12-30_hours  2015-11-06_hours  2015-05-29_hours  2015-09-18_hours  \
count           4145.00           4188.00           4175.00           4208.00
mean               7.71              7.72              7.72              7.70
std                1.39              1.37              1.38              1.37
min                5.05              5.21              5.22              5.00
25%                6.65              6.68              6.67              6.66
50%                7.43              7.43              7.42              7.39
75%                8.40              8.41              8.42              8.39
max               11.50             11.80             11.77             11.62

       2015-02-24_hours  2015-04-13_hours  2015-06-04_hours  2015-03-02_hours  \
count           4184.00           4197.00           4182.00           4156.00
mean               7.72              7.70              7.71              7.70
std                1.38              1.38              1.38              1.37
min                5.20              5.09              5.24              5.21
25%                6.67              6.67              6.66              6.66
50%                7.46              7.40              7.43              7.42
75%                8.40              8.37              8.38              8.38
max               11.68             11.62             11.58             11.59

       2015-10-26_hours  2015-01-08_hours  2015-11-04_hours  2015-03-23_hours  \
count           4178.00           4167.00           4181.00           4203.00
mean               7.71              7.71              7.72              7.71
std                1.38              1.38              1.38              1.38
min                5.06              5.27              4.88              5.11
25%                6.67              6.66              6.67              6.66
50%                7.39              7.42              7.42              7.43
75%                8.40              8.37              8.43              8.40
max               11.66             11.96             11.88             11.47

       2015-12-02_hours  2015-03-19_hours  2015-07-03_hours  2015-09-16_hours  \
count           4166.00           4171.00           4189.00           4190.00
mean               7.70              7.71              7.70              7.72
std                1.38              1.37              1.36              1.38
min                5.11              5.24              5.13              5.24
25%                6.66              6.65              6.67              6.68
50%                7.42              7.43              7.41              7.42
75%                8.40              8.42              8.35              8.40
max               11.70             11.55             11.81             11.68

       2015-02-27_hours  2015-03-05_hours  2015-06-01_hours  2015-06-22_hours  \
count           4174.00              0.00           4189.00           4179.00
mean               7.71               NaN              7.71              7.70
std                1.38               NaN              1.37              1.37
min                5.22               NaN              5.21              5.11
25%                6.66               NaN              6.67              6.65
50%                7.42               NaN              7.42              7.41
75%                8.39               NaN              8.42              8.41
max               11.70               NaN             11.66             11.52

       2015-05-06_hours  2015-03-09_hours  2015-10-05_hours  2015-10-19_hours  \
count           4177.00           4178.00           4160.00           4177.00
mean               7.71              7.72              7.70              7.72
std                1.37              1.37              1.38              1.38
min                5.20              5.12              5.31              5.04
25%                6.68              6.68              6.67              6.67
50%                7.43              7.42              7.42              7.43
75%                8.38              8.39              8.38              8.38
max               11.64             11.59             11.67             11.79

       2015-02-04_hours  2015-04-28_hours  2015-06-24_hours  2015-11-24_hours  \
count           4198.00           4195.00           4173.00           4200.00
mean               7.72              7.70              7.71              7.71
std                1.38              1.38              1.37              1.37
min                5.28              5.27              5.31              5.14
25%                6.66              6.66              6.66              6.67
50%                7.44              7.42              7.42              7.43
75%                8.38              8.39              8.42              8.38
max               11.62             11.61             11.77             11.75

       2015-12-01_hours  2015-12-14_hours  2015-09-07_hours  2015-08-05_hours  \
count           4200.00           4176.00           4179.00           4204.00
mean               7.72              7.71              7.71              7.71
std                1.38              1.38              1.38              1.38
min                5.23              5.14              5.19              5.28
25%                6.67              6.68              6.68              6.67
50%                7.43              7.41              7.41              7.42
75%                8.40              8.38              8.39              8.40
max               11.69             11.93             11.71             11.59

       2015-11-11_hours  2015-11-23_hours  2015-12-10_hours  2015-10-09_hours  \
count              0.00           4163.00           4194.00           4181.00
mean                NaN              7.70              7.71              7.70
std                 NaN              1.38              1.38              1.38
min                 NaN              5.26              5.10              4.89
25%                 NaN              6.65              6.65              6.67
50%                 NaN              7.42              7.42              7.42
75%                 NaN              8.39              8.40              8.39
max                 NaN             11.64             11.64             11.61

       2015-04-23_hours  2015-07-29_hours  2015-04-15_hours  2015-08-14_hours  \
count           4188.00           4206.00           4182.00           4174.00
mean               7.71              7.71              7.71              7.71
std                1.39              1.37              1.36              1.38
min                5.19              5.22              5.30              5.21
25%                6.66              6.67              6.68              6.66
50%                7.43              7.42              7.43              7.40
75%                8.37              8.38              8.40              8.42
max               11.83             11.58             11.53             11.82

       2015-10-13_hours  2015-11-30_hours  2015-05-05_hours  2015-11-25_hours  \
count           4179.00           4167.00           4191.00           4194.00
mean               7.72              7.70              7.70              7.71
std                1.39              1.39              1.37              1.37
min                5.15              5.12              5.20              5.09
25%                6.67              6.67              6.65              6.67
50%                7.44              7.41              7.40              7.40
75%                8.44              8.41              8.37              8.41
max               11.74             11.57             11.69             11.67

       2015-12-08_hours  2015-08-28_hours  2015-08-27_hours  2015-07-01_hours  \
count           4189.00           4202.00           4209.00           4185.00
mean               7.71              7.71              7.71              7.71
std                1.38              1.38              1.38              1.37
min                4.79              5.24              5.22              5.21
25%                6.68              6.66              6.64              6.68
50%                7.42              7.41              7.43              7.42
75%                8.41              8.39              8.39              8.39
max               11.87             11.68             11.53             11.77

       2015-09-17_hours  2015-09-28_hours  2015-11-27_hours  2015-01-16_hours  \
count              0.00           4193.00           4168.00           4146.00
mean                NaN              7.72              7.71              7.71
std                 NaN              1.38              1.38              1.38
min                 NaN              5.24              5.20              5.16
25%                 NaN              6.68              6.66              6.65
50%                 NaN              7.43              7.42              7.44
75%                 NaN              8.38              8.44              8.41
max                 NaN             11.64             11.81             11.53

       2015-07-02_hours  2015-08-03_hours  2015-06-29_hours  2015-02-02_hours  \
count           4189.00           4190.00           4176.00           4202.00
mean               7.71              7.70              7.72              7.72
std                1.37              1.37              1.38              1.38
min                5.16              5.16              5.20              5.06
25%                6.66              6.67              6.65              6.67
50%                7.44              7.41              7.43              7.43
75%                8.40              8.37              8.40              8.43
max               11.84             11.73             11.66             11.68

       2015-04-21_hours  2015-02-26_hours  2015-07-30_hours  2015-09-30_hours  \
count           4170.00           4172.00           4184.00           4191.00
mean               7.72              7.70              7.71              7.71

## Clean employee / manager Data

In [208]:
# merge employee and manager data on EmployeeID
employee_manager_data = pd.merge(employee_data, manager_data, on='EmployeeID', suffixes=('_emp', '_mgr'))

remove_col_depending_on_distinct_values(employee_manager_data)

#verification
# print(employee_manager_data.info())

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,3.00,4.00,2.00,3,3
1,2,3.00,2.00,4.00,2,4
2,3,2.00,2.00,1.00,3,3
3,4,4.00,4.00,3.00,2,3
4,5,4.00,1.00,3.00,3,3
...,...,...,...,...,...,...
4405,4406,4.00,1.00,3.00,3,3
4406,4407,4.00,4.00,3.00,2,3
4407,4408,1.00,3.00,3.00,3,4
4408,4409,4.00,1.00,3.00,2,3
4409,4410,1.00,3.00,NaN,4,3

## clean General data

In [209]:
col_before = general_data.columns.tolist()
remove_col_depending_on_distinct_values(general_data)
col_after = general_data.columns.tolist()
removed_cols = set(col_before) - set(col_after)
print(f"Removed columns: {removed_cols}")
# print(general_data.info())

Removed columns: {'EmployeeCount', 'Over18', 'StandardHours'}

## Get numerical and Categorical columns by dataset

In [210]:
# get numerical and categorical columns for each dataset
#general data
general_numerical_cols = general_data.select_dtypes(include=[np.number]).columns.tolist()
general_categorical_cols = general_data.select_dtypes(include=['object']).columns.tolist()
#time data
time_numerical_cols = time_data.select_dtypes(include=[np.number, np.datetime64]).columns.tolist()
#in_time data
# in_time_numerical_cols = in_time_data.select_dtypes(include=[np.number, np.datetime64]).columns.tolist()
#out_time data
# out_time_numerical_cols = out_time_data.select_dtypes(include=[np.number, np.datetime64]).columns.tolist()

#only numerical
#employee_manager data
employee_manager_numerical_cols = employee_manager_data.select_dtypes(include=[np.number]).columns.tolist()
#manager data
manager_numerical_cols = manager_data.select_dtypes(include=[np.number]).columns.tolist()
#employee data
employee_numerical_cols = employee_data.select_dtypes(include=[np.number]).columns.tolist()

#print the numerical and categorical columns for each dataset
#print("General Data Numerical Columns:", general_numerical_cols)
#print("General Data Categorical Columns:", general_categorical_cols)
#print("Employee Data Numerical Columns:", employee_numerical_cols)
#print("In Time Data Numerical Columns:", in_time_numerical_cols)
#print("In Time Data Categorical Columns:", in_time_categorical_cols)
#print("Out Time Data Numerical Columns:", out_time_numerical_cols)
# print("Out Time Data Categorical Columns:", out_time_categorical_cols)
#print("Manager Data Numerical Columns:", manager_numerical_cols)
# print(time_numerical_cols)

# Imput missing values

In [211]:
#imputing missing values for numerical columns with mean
general_data[general_numerical_cols] = general_data[general_numerical_cols].fillna(general_data[general_numerical_cols].median())
employee_data[employee_numerical_cols] = employee_data[employee_numerical_cols].fillna(employee_data[employee_numerical_cols].median())
# in_time_data[in_time_numerical_cols] = in_time_data[in_time_numerical_cols].fillna(in_time_data[in_time_numerical_cols].median())
# out_time_data[out_time_numerical_cols] = out_time_data[out_time_numerical_cols].fillna(out_time_data[out_time_numerical_cols].median())
manager_data[manager_numerical_cols] = manager_data[manager_numerical_cols].fillna(manager_data[manager_numerical_cols].median())


#imputing missing values for categorical columns with mode
general_data[general_categorical_cols] = general_data[general_categorical_cols].fillna(general_data[general_categorical_cols].mode().iloc[0])

#verify no missing values remain 
# print("Missing values in General Data:\n", general_data.isnull().sum())
# print("Missing values in Employee Data:\n", employee_data.isnull().sum())
# print("Missing values in Manager Data:\n", manager_data.isnull().sum())
# print("Missing values in In Time Data:\n", in_time_data.isnull().sum())
# print("Missing values in Out Time Data:\n", out_time_data.isnull().sum())

## Standardization for numerical data

In [212]:
# Initialize the StandardScaler
# scaler = StandardScaler(with_mean=True)
# # Scale numerical columns
# general_data[general_numerical_cols] = scaler.fit_transform(general_data[general_numerical_cols])
# employee_data[employee_numerical_cols] = scaler.fit_transform(employee_data[employee_numerical_cols])
# manager_data[manager_numerical_cols] = scaler.fit_transform(manager_data[manager_numerical_cols])

#display the first few rows of each dataset after preprocessing
# print("Employee Data after preprocessing:")
# print(employee_data.head())
# print("\nGeneral Data after preprocessing:")
# print(general_data.head())
# print("\nManager Data after preprocessing:")
# print(manager_data.head())
# print("\nIn Time Data after preprocessing:")
# print(in_time_data.head())
# print("\nOut Time Data after preprocessing:")
# print(out_time_data.head())

## Encoding categorical data

In [213]:
# find unique values in BusinessTravel column
print( general_data['BusinessTravel'].unique())

# Define the order for ordinal encoding (only category names, no numeric values)
# categories parameter needs to be a list of lists - one list per feature
business_travel_categories = [['Non-Travel', 'Travel_Rarely', 'Travel_Frequently']]
# ordinal encoding for categorical columns
general_data['BusinessTravel'] = pd.Categorical(general_data['BusinessTravel'], categories=business_travel_categories[0], ordered=True).codes
# remove 'BusinessTravel' from categorical columns list as it has been ordinal encoded
general_categorical_cols.remove('BusinessTravel')
# add 'BusinessTravel' to numerical columns list
general_numerical_cols.append('BusinessTravel')

# hot one encoding for categorical columns
general_data = pd.get_dummies(general_data, columns=general_categorical_cols, drop_first=True)


print("Categorical columns in General Data after Ordinal Encoding:")

# verify the new info of general_data
print(general_data.info())


# # in_time out_time not categorical or not using like that 

# # in_time_data = pd.get_dummies(in_time_data, columns=in_time_categorical_cols, drop_first=True)
# # out_time_data = pd.get_dummies(out_time_data, columns=out_time_categorical_cols, drop_first=True)

['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Categorical columns in General Data after Ordinal Encoding:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   int64
 1   BusinessTravel                     4410 non-null   int8
 2   DistanceFromHome                   4410 non-null   int64
 3   Education                          4410 non-null   int64
 4   EmployeeID                         4410 non-null   int64
 5   JobLevel                           4410 non-null   int64
 6   MonthlyIncome                      4410 non-null   int64
 7   NumCompaniesWorked                 4410 non-null   float64
 8   PercentSalaryHike                  4410 non-null   int64
 9   StockOptionLevel                   4410 non-null   int64
 10  TotalWorkingYears                  4410 non-null   float64
 11  TrainingTimesLastYear              4410 non-null   int64
 12  YearsAtCompany                     4410 non-null   int64
 13  YearsSinceLastPromotion            4410 non-null   int64
 14  YearsWithCurrManager               4410 non-null   int64
 15  Attrition_Yes                      4410 non-null   bool
 16  Department_Research & Development  4410 non-null   bool
 17  Department_Sales                   4410 non-null   bool
 18  EducationField_Life Sciences       4410 non-null   bool
 19  EducationField_Marketing           4410 non-null   bool
 20  EducationField_Medical             4410 non-null   bool
 21  EducationField_Other               4410 non-null   bool
 22  EducationField_Technical Degree    4410 non-null   bool
 23  Gender_Male                        4410 non-null   bool
 24  JobRole_Human Resources            4410 non-null   bool
 25  JobRole_Laboratory Technician      4410 non-null   bool
 26  JobRole_Manager                    4410 non-null   bool
 27  JobRole_Manufacturing Director     4410 non-null   bool
 28  JobRole_Research Director          4410 non-null   bool
 29  JobRole_Research Scientist         4410 non-null   bool
 30  JobRole_Sales Executive            4410 non-null   bool
 31  JobRole_Sales Representative       4410 non-null   bool
 32  MaritalStatus_Married              4410 non-null   bool
 33  MaritalStatus_Single               4410 non-null   bool
dtypes: bool(19), float64(2), int64(12), int8(1)
memory usage: 568.6 KB
None

# Merge All

In [214]:
# merge all datasets into a final dataset on EmployeeID
final_dataset = pd.merge(general_data, employee_manager_data, on='EmployeeID')
final_dataset = pd.merge(final_dataset, time_data, on='EmployeeID')

# place the EmployeeID column at the front
cols = final_dataset.columns.tolist()
cols.insert(0, cols.pop(cols.index('EmployeeID')))
final_dataset = final_dataset[cols]

# print to verify 

print(final_dataset.info())
print(final_dataset.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 301 entries, EmployeeID to 2015-02-03_hours
dtypes: bool(19), float64(267), int64(14), int8(1)
memory usage: 9.5 MB
None
   EmployeeID  Age  BusinessTravel  DistanceFromHome  Education  JobLevel  \
0           1   51               1                 6          2         1
1           2   31               2                10          1         1
2           3   32               2                17          4         4
3           4   38               0                 2          5         3
4           5   32               1                10          1         1

   MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StockOptionLevel  \
0         131160                1.00                 11                 0
1          41890                0.00                 23                 1
2         193280                1.00                 15                 3
3          83210                3.00                 11                 3
4          23420                4.00                 12                 2

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0               1.00                      6               1
1               6.00                      3               5
2               5.00                      2               5
3              13.00                      5               8
4               9.00                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager  Attrition_Yes  \
0                        0                     0          False
1                        1                     4           True
2                        0                     3          False
3                        7                     5          False
4                        0                     4          False

   Department_Research & Development  Department_Sales  \
0                              False              True
1                               True             False
2                               True             False
3                               True             False
4                               True             False

   EducationField_Life Sciences  EducationField_Marketing  \
0                          True                     False
1                          True                     False
2                         False                     False
3                          True                     False
4                         False                     False

   EducationField_Medical  EducationField_Other  \
0                   False                 False
1                   False                 False
2                   False                  True
3                   False                 False
4                    True                 False

   EducationField_Technical Degree  Gender_Male  JobRole_Human Resources  \
0                            False        False                    False
1                            False        False                    False
2                            False         True                    False
3                            False         True                     True
4                            False         True                    False

   JobRole_Laboratory Technician  JobRole_Manager  \
0                          False            False
1                          False            False
2                          False            False
3                          False            False
4                          False            False

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                           False                      False
1                           False                      False
2                           False                      False
3                           False                      False
4                           False                      False

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                       False                    False
1                        True                    False
2                       False                     True
3                       False                    False
4                       False                     True

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single  \
0                         False                   True                 False
1                         False                  False                  True
2                         False                   True                 False
3                         False                   True                 False
4                         False                  False                  True

   EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance  JobInvolvement  \
0                     3.00             4.00             2.00               3
1                     3.00             2.00             4.00               2
2                     2.00             2.00             1.00               3
3                     4.00             4.00             3.00               2
4                     4.00             1.00             3.00               3

   PerformanceRating  duration_hours  2015-07-20_hours  2015-04-02_hours  \
0                  3         1710.69              7.09              7.66
1                  4         1821.68              7.48              7.75
2                  3         1697.20              6.92              6.83
3                  3         1690.51              6.86              6.91
4                  3         1961.51              7.68              8.10

   2015-09-01_hours  2015-12-24_hours  2015-01-19_hours  2015-10-07_hours  \
0               NaN              7.60               NaN              7.40
1              6.91               NaN              7.58              7.95
2              7.34              6.85              7.07              7.16
3              7.47              7.08              6.52              7.50
4              7.67              8.25               NaN              7.66

   2015-12-29_hours  2015-11-13_hours  2015-10-15_hours  2015-03-30_hours  \
0              7.32              7.33              7.57              7.36
1              7.98              8.20               NaN              7.40
2              7.44              7.00              6.79              6.71
3              7.42              6.74              7.17              7.04
4              8.27              7.87              8.12              7.70

   2015-02-25_hours  2015-06-19_hours  2015-11-10_hours  2015-12-18_hours  \
0              7.58              7.25               NaN               NaN
1              7.75              7.71               NaN              7.90
2              6.94              6.94               NaN              6.79
3              6.28              7.30               NaN              7.63
4              8.03              7.61               NaN              7.90

   2015-09-15_hours  2015-07-13_hours  2015-03-13_hours  2015-08-17_hours  \
0              7.13              7.28              7.31              7.06
1              7.41               NaN              7.82              8.20
2              6.79              6.35              6.82              6.90
3              6.81              7.38              6.82              7.15
4              7.79              7.93              8.05              8.21

   2015-11-12_hours  2015-08-18_hours  2015-07-14_hours  2015-08-04_hours  \
0              7.18              7.63              7.13              7.18
1              7.65              7.49              7.51              7.85
2              7.37              7.29              7.39              6.80
3              7.61              7.67              7.75              7.28
4              8.35              7.55              7.83              8.30

   2015-08-06_hours  2015-03-03_hours  2015-04-09_hours  2015-08-11_hours  \
0              7.51              6.76              7.80              7.53
1              8.54              7.69              7.09              7.26
2              6.88              7.05              7.46              6.78
3              7.05              7.40              7.05              7.66
4              7.60              7.95              8.15              8.36

   2015-03-12_hours  2015-08-31_hours  2015-09-10_hours  2015-07-24_hours  \
0              7.08              7.00              7.38              7.48
1              7.52              7.84              7.89              7.86
2              7.28              6.74              7.54              6.86
3              7.62              6.98              7.29              7.39
4              8.08              7.48              8.40              8.13

   2015-10-08_hours  2015-05-11_hours  2015-12-21_hours  2015-04-01_hours  \
0              7.49               NaN              7.34              7.34
1              8.25              7.53              7.75              7.73
2              6.93              7.03              7.16              6.91
3              7.50              7.13              6.85              7.51
4              7.99              7.79              7.67              8.04

   2015-04-07_hours  2015-09-29_hours  2015-02-13_hours  2015-05-07_hours  \
0              7.64              7.59              7.21              7.06
1              7.47              8.03              7.73              7.61
2              7.24              7.44              7.14              6.87
3              7.06              6.92              7.15              7.16
4              8.04              8.28              8.72              7.36

   2015-07-28_hours  2015-04-14_hours  2015-06-15_hours  2015-09-25_hours  \
0              6.71              7.15              7.60              7.73
1              7.87              8.17              8.05              8.14
2              7.73              7.23              7.10              6.98
3              7.01               NaN              7.33               NaN
4              7.63              8.53              8.13              8.56

   2015-12-03_hours  2015-01-05_hours  2015-01-06_hours  2015-03-31_hours  \
0              7.58              7.19              7.41              7.87
1              8.04              7.45               NaN              7.97
2              6.77              7.27              6.41              7.48
3              7.21              7.29              6.94              7.61
4              7.67              7.99              7.68              7.80

   2015-05-18_hours  2015-12-25_hours  2015-05-14_hours  2015-01-22_hours  \
0               NaN               NaN              7.90              7.05
1               NaN               NaN               NaN              7.38
2              7.24               NaN              7.28              7.48
3              6.89               NaN              7.26              7.01
4              7.52               NaN              7.96              8.29

   2015-08-19_hours  2015-04-03_hours  2015-07-22_hours  2015-10-02_hours  \
0              6.92              7.19              7.88               NaN
1              7.89              7.62              7.81               NaN
2              7.03              6.75              6.64               NaN
3              7.31              7.07               NaN               NaN
4              8.28              7.83              7.71               NaN

   2015-12-30_hours  2015-11-06_hours  2015-05-29_hours  2015-09-18_hours  \
0              7.78              7.00               NaN              7.45
1              7.99              7.43              8.05              7.40
2              7.54              6.56              6.74              6.98
3              7.37               NaN              7.11              7.52
4              7.95              8.21              8.32              7.59

   2015-02-24_hours  2015-04-13_hours  2015-06-04_hours  2015-03-02_hours  \
0              7.22              7.35              7.04              7.16
1              7.80              8.19              6.92              7.68
2              6.75              7.27              6.81              7.49
3              7.06              6.83              7.45               NaN
4              8.12              7.87              7.63              8.69

   2015-10-26_hours  2015-01-08_hours  2015-11-04_hours  2015-03-23_hours  \
0              7.75              7.29              6.94              7.62
1              8.15              7.42              7.93              7.95
2              7.25              7.34              6.70              6.77
3              7.43              6.85              6.83              6.95
4              8.26              7.66              8.12              7.67

   2015-12-02_hours  2015-03-19_hours  2015-07-03_hours  2015-09-16_hours  \
0              7.58              7.85              7.16              7.33
1              8.12              7.70              8.14              7.84
2              6.74              6.55              6.93              6.94
3              7.07              7.01              7.51              7.08
4              7.40              7.74              7.60              7.78

   2015-02-27_hours  2015-03-05_hours  2015-06-01_hours  2015-06-22_hours  \
0              7.39               NaN               NaN              7.18
1              8.12               NaN              8.11              8.00
2              6.86               NaN              6.79              6.62
3              7.26               NaN              6.97              7.57
4              7.97               NaN              8.06              8.71

   2015-05-06_hours  2015-03-09_hours  2015-10-05_hours  2015-10-19_hours  \
0              7.46              7.41              7.03              7.55
1              7.86              8.13              8.10              7.94
2              7.11              6.85              7.02              6.55
3              7.84              7.16               NaN              7.10
4              8.55              8.36              8.51              7.62

   2015-02-04_hours  2015-04-28_hours  2015-06-24_hours  2015-11-24_hours  \
0              7.61              7.89              7.11              7.59
1              7.64              7.61              7.53              7.70
2              7.36              7.34               NaN              6.66
3              6.98              6.93              7.47              7.81
4              8.00              7.49              7.55              8.54

   2015-12-01_hours  2015-12-14_hours  2015-09-07_hours  2015-08-05_hours  \
0              7.37              7.54              7.38              7.67
1              7.41              7.54              8.19              7.81
2              6.94              7.10              6.83               NaN
3              7.28              7.06              7.04               NaN
4              7.91              7.59              7.81              7.87

   2015-11-11_hours  2015-11-23_hours  2015-12-10_hours  2015-10-09_hours  \
0               NaN              7.32              7.20              7.61
1               NaN              7.69              7.82              7.63
2               NaN              6.94               NaN              6.92
3               NaN              7.13              7.51              6.87
4               NaN              8.45              7.92              7.67

   2015-04-23_hours  2015-07-29_hours  2015-04-15_hours  2015-08-14_hours  \
0              7.34              7.15              7.46              7.14
1              7.96              7.94              7.47              7.85
2               NaN              7.39              7.27              7.05
3              7.64              7.85              6.50              7.42
4              7.83              7.67              8.07              8.08

   2015-10-13_hours  2015-11-30_hours  2015-05-05_hours  2015-11-25_hours  \
0               NaN              7.01              7.31              7.42
1              8.30              7.53              7.72              7.52
2              6.69              6.98              6.33              7.06
3              7.11              7.31              6.73              7.13
4              7.95              8.44              8.34              7.89

   2015-12-08_hours  2015-08-28_hours  2015-08-27_hours  2015-07-01_hours  \
0              7.94              7.55              7.69              7.72
1              7.72              7.57              7.89              7.70
2              7.49              6.65              6.95              6.72
3              7.28               NaN              6.67              6.87
4              8.54              7.69              7.78              7.71

   2015-09-17_hours  2015-09-28_hours  2015-11-27_hours  2015-01-16_hours  \
0               NaN              7.64              7.09              7.27
1               NaN              7.70              7.95              7.73
2               NaN              7.81               NaN              7.21
3               NaN              7.01              6.95              6.91
4               NaN              8.19              8.12              8.40

   2015-07-02_hours  2015-08-03_hours  2015-06-29_hours  2015-02-02_hours  \
0              7.62              6.95              7.66              6.90
1              7.81              7.78              7.97              7.63
2              6.85              7.05              6.77              7.07
3              7.37              7.65              7.15              7.07
4              7.98              7.75              7.94              8.16

   2015-04-21_hours  2015-02-26_hours  2015-07-30_hours  2015-09-30_hours  \
0              6.98              7.20              7.23              7.37
1              8.47              7.85              7.38              7.87
2              7.14              7.55              6.98              6.76
3              7.08              7.36              7.23              6.85
4               NaN              7.71              8.38              7.83

   2015-09-22_hours  2015-05-19_hours  2015-11-20_hours  2015-05-22_hours  \
0              7.65              7.33              7.82              7.13
1              7.26              8.08              7.86              8.02
2              6.88              7.41              7.56              6.83
3              6.99              7.51              7.54               NaN
4              7.94              8.32              8.56              8.15

   2015-04-24_hours  2015-03-16_hours  2015-02-10_hours  2015-04-29_hours  \
0              7.56               NaN              7.27              7.69
1              7.53              7.21              8.03               NaN
2              6.91              6.76              6.83              6.96
3              7.44              6.72               NaN              7.14
4              7.84              7.79              7.68              7.65

   2015-06-17_hours  2015-01-26_hours  2015-04-30_hours  2015-06-11_hours  \
0              7.53               NaN              7.51              7.58
1              8.23               NaN              8.08              7.98
2              6.99               NaN              7.05              7.21
3              7.27               NaN              7.12              7.43
4              8.35               NaN              7.79               NaN

   2015-06-18_hours  2015-07-21_hours  2015-05-13_hours  2015-08-13_hours  \
0              7.52              7.25              7.50              7.37
1              7.88              7.64              7.48              8.07
2              7.26              7.21              6.83              6.75
3              7.75              6.83              7.17              6.77
4              8.49              8.32              7.47              8.38


In [215]:
test_business_travel_categories = [['Non-Travel', 'Travel_Rarely', 'Travel_Frequently']]

dictionary_for_encoding = {
    'BusinessTravel': test_business_travel_categories[0]
}


# pipeline with all steps included above as parameters for easy reuse
def preprocess_data(dataset, impute_values=True, numeric_cols=None, categorical_cols=None, scale_data=True, encode_ordinal_cols=None, encode_onehot_cols=True, remove_constant_cols=True):
    #copy the dataset to avoid modifying the original data
    data = dataset.copy()
    # remove constant columns
    if remove_constant_cols:
        data = remove_col_depending_on_distinct_values(data,start_threshold=0, end_threshold=1)
    # identify numerical and categorical columns if not provided
    if numeric_cols is None:
        numeric_cols = data.select_dtypes(include=[np.number]).columns.tolist()
    if categorical_cols is None:
        categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
    # impute missing values
    if impute_values:
        if len(numeric_cols) > 0:
            data[numeric_cols] = data[numeric_cols].fillna(data[numeric_cols].median())
        if len(categorical_cols) > 0:
            data[categorical_cols] = data[categorical_cols].fillna(data[categorical_cols].mode().iloc[0])
    # ordinal encoding
    if encode_ordinal_cols and len(categorical_cols) > 0:
        for col, categories in encode_ordinal_cols.items():
            if col in data.columns:
                data[col] = pd.Categorical(data[col], categories=categories, ordered=True).codes
                # Remove ordinally encoded columns from categorical_cols to avoid one-hot encoding them
                if col in categorical_cols:
                    categorical_cols.remove(col)
                # Add to numeric_cols since it's now numeric
                if col not in numeric_cols:
                    numeric_cols.append(col)
    # one-hot encoding
    if encode_onehot_cols:
        # If encode_onehot_cols is True, use the remaining categorical columns
        if encode_onehot_cols is True:
            cols_to_encode = categorical_cols
        else:
            cols_to_encode = encode_onehot_cols
        
        if len(cols_to_encode) > 0:
            data = pd.get_dummies(data, columns=cols_to_encode, drop_first=True)
    # scale numerical data
    if scale_data:
        scaler = StandardScaler(with_mean=True)
        data[numeric_cols] = scaler.fit_transform(data[numeric_cols])
    
    return data

# Load fresh data for testing the pipeline
test_dataset = pd.read_csv(os.path.join(folder_path, general_file_name))

pipeline_test = preprocess_data(test_dataset,
                                    remove_constant_cols=True,
                                    impute_values=True,
                                    scale_data=True,
                                    encode_onehot_cols=True,
                                    encode_ordinal_cols=dictionary_for_encoding
                                    )


print(pipeline_test.info())
print(pipeline_test.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   float64
 1   BusinessTravel                     4410 non-null   float64
 2   DistanceFromHome                   4410 non-null   float64
 3   Education                          4410 non-null   float64
 4   EmployeeID                         4410 non-null   float64
 5   JobLevel                           4410 non-null   float64
 6   MonthlyIncome                      4410 non-null   float64
 7   NumCompaniesWorked                 4410 non-null   float64
 8   PercentSalaryHike                  4410 non-null   float64
 9   StockOptionLevel                   4410 non-null   float64
 10  TotalWorkingYears                  4410 non-null   float64
 11  TrainingTimesLastYear              4410 non-null   float64
 12  YearsAtCompany                     4410 non-null   float64
 13  YearsSinceLastPromotion            4410 non-null   float64
 14  YearsWithCurrManager               4410 non-null   float64
 15  Attrition_Yes                      4410 non-null   bool
 16  Department_Research & Development  4410 non-null   bool
 17  Department_Sales                   4410 non-null   bool
 18  EducationField_Life Sciences       4410 non-null   bool
 19  EducationField_Marketing           4410 non-null   bool
 20  EducationField_Medical             4410 non-null   bool
 21  EducationField_Other               4410 non-null   bool
 22  EducationField_Technical Degree    4410 non-null   bool
 23  Gender_Male                        4410 non-null   bool
 24  JobRole_Human Resources            4410 non-null   bool
 25  JobRole_Laboratory Technician      4410 non-null   bool
 26  JobRole_Manager                    4410 non-null   bool
 27  JobRole_Manufacturing Director     4410 non-null   bool
 28  JobRole_Research Director          4410 non-null   bool
 29  JobRole_Research Scientist         4410 non-null   bool
 30  JobRole_Sales Executive            4410 non-null   bool
 31  JobRole_Sales Representative       4410 non-null   bool
 32  MaritalStatus_Married              4410 non-null   bool
 33  MaritalStatus_Single               4410 non-null   bool
dtypes: bool(19), float64(15)
memory usage: 598.8 KB
None
    Age  BusinessTravel  DistanceFromHome  Education  EmployeeID  JobLevel  \
0  1.54           -0.16             -0.39      -0.89       -1.73     -0.96
1 -0.65            1.72              0.10      -1.87       -1.73     -0.96
2 -0.54            1.72              0.96       1.06       -1.73      1.75
3  0.12           -2.04             -0.89       2.04       -1.73      0.85
4 -0.54           -0.16              0.10      -1.87       -1.73     -0.96

   MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StockOptionLevel  \
0           1.41               -0.68              -1.15             -0.93
1          -0.49               -1.08               2.13              0.24
2           2.73               -0.68              -0.06              2.59
3           0.39                0.12              -1.15              2.59
4          -0.88                0.52              -0.88              1.42

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0              -1.32                   2.48           -0.98
1              -0.68                   0.16           -0.33
2              -0.81                  -0.62           -0.33
3               0.22                   1.71            0.16
4              -0.29                  -0.62           -0.16

   YearsSinceLastPromotion  YearsWithCurrManager  Attrition_Yes  \
0                    -0.68                 -1.16          False
1                    -0.37                 -0.03           True
2                    -0.68                 -0.31          False
3                     1.49                  0.25          False
4                    -0.68                 -0.03          False

   Department_Research & Development  Department_Sales  \
0                              False              True
1                               True             False
2                               True             False
3                               True             False
4                               True             False

   EducationField_Life Sciences  EducationField_Marketing  \
0                          True                     False
1                          True                     False
2                         False                     False
3                          True                     False
4                         False                     False

   EducationField_Medical  EducationField_Other  \
0                   False                 False
1                   False                 False
2                   False                  True
3                   False                 False
4                    True                 False

   EducationField_Technical Degree  Gender_Male  JobRole_Human Resources  \
0                            False        False                    False
1                            False        False                    False
2                            False         True                    False
3                            False         True                     True
4                            False         True                    False

   JobRole_Laboratory Technician  JobRole_Manager  \
0                          False            False
1                          False            False
2                          False            False
3                          False            False
4                          False            False

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                           False                      False
1                           False                      False
2                           False                      False
3                           False                      False
4                           False                      False

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                       False                    False
1                        True                    False
2                       False                     True
3                       False                    False
4                       False                     True

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single
0                         False                   True                 False
1                         False                  False                  True
2                         False                   True                 False
3                         False                   True                 False
4                         False                  False                  True

## learn and model

In [ ]:
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score


# Definition of independent variables (X) and dependent variable (y)
X = # TODO: define X based on the preprocessed dataset
y = # TODO: define y based on the preprocessed dataset

# add a constant to the model (intercept)
X = sm.add_constant(X)
# initialize and fit the model
model = sm.OLS(y, X).fit()

# verification
print(model.summary())

# Try another model from sklearn
A = #TODO: define A based on the preprocessed dataset
B = #TODO: define B based on the preprocessed dataset

# initialize the model
skmodel = LinearRegression()
# fit the model
skmodel.fit(A, B)
# make predictions
A["sklearn_preds"] = skmodel.predict(A)