# Clean the data

plot configuration

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import tarfile
import os
import sklearn
from sklearn.preprocessing import StandardScaler

# Configuring display settings
plt.rcParams['figure.figsize'] = (12, 9)
sns.set()
sns.set_context('talk')
np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)
pd.set_option('display.float_format', '{:.2f}'.format)
warnings.filterwarnings("ignore", category=FutureWarning)

## files importation

In [612]:
# Extract the .tgz file (use a local directory to avoid /mnt permission issues)
folder_path = 'data/'
employee_file_name = 'employee_survey_data.csv'
general_file_name = 'general_data.csv'
manager_file_name = 'manager_survey_data.csv'
#for the in out time 
time_folder_path = 'in_out_time/'
in_time_file_name = 'in_time.csv'
out_time_file_name = 'out_time.csv'

# Load each dataset
employee_data = pd.read_csv(os.path.join(folder_path, employee_file_name))
general_data = pd.read_csv(os.path.join(folder_path, general_file_name))
manager_data = pd.read_csv(os.path.join(folder_path, manager_file_name))
in_time_data = pd.read_csv(os.path.join(folder_path, time_folder_path, in_time_file_name))
out_time_data = pd.read_csv(os.path.join(folder_path, time_folder_path, out_time_file_name))

#display the info of each dataset

# print("Employee Data Info:")
# print(employee_data.info())
# print("\nGeneral Data Info:")
# print(general_data.info())
# print("\nManager Data Info:")
# print(manager_data.info())
# print("\nIn Time Data Info:")
# print(in_time_data.info())
# print("\nOut Time Data Info:")
# print(out_time_data.info())

## Clean and merge In/Out data

In [ ]:
# merge in_time and out_time data on the first column (Unknown that is actually EmployeeID)
# rename the first column to EmployeeID for both datasets because it is unnamed
in_time_data.rename(columns={in_time_data.columns[0]: 'EmployeeID'}, inplace=True)
out_time_data.rename(columns={out_time_data.columns[0]: 'EmployeeID'}, inplace=True)

#check if days are present in both datasets
in_time_days = set(in_time_data.columns[1:])
out_time_days = set(out_time_data.columns[1:])
missing_in_out = in_time_days.difference(out_time_days)
# display the missing days
print(f"Days missing in either in_time or out_time data: {missing_in_out}")

# go through each column to check empty cells present only in one of the datasets
for day in in_time_days.intersection(out_time_days):
    in_time_empty = set(in_time_data.index[in_time_data[day].isnull()])
    out_time_empty = set(out_time_data.index[out_time_data[day].isnull()])
    missing_in_out_rows = in_time_empty.symmetric_difference(out_time_empty)
    if missing_in_out_rows:
        print(f"Day {day} has missing entries in either in_time or out_time data at rows: {missing_in_out_rows}")

# convert all columns except the first one to datetime format
for col in in_time_data.columns[1:]:
    in_time_data[col] = pd.to_datetime(in_time_data[col], format='%Y-%m-%d %H:%M:%S', errors='coerce')
for col in out_time_data.columns[1:]:
    out_time_data[col] = pd.to_datetime(out_time_data[col], format='%Y-%m-%d %H:%M:%S', errors='coerce')

#function to remove columns depending on distinct values for relevance
def remove_col_depending_on_distinct_values(df,start_threshold=0, end_threshold=1):
    cols_to_remove = []
    for col in df.columns:
        if start_threshold <= df[col].nunique() <= end_threshold:
            cols_to_remove.append(col)
    df.drop(columns=cols_to_remove, inplace=True)
    return df

# merge in and out time data based on EmployeeID
time_data = pd.merge(in_time_data, out_time_data, on='EmployeeID', suffixes=('_in', '_out'))

# create a new column for each day calculating the difference between out and in time in hours
# use pd.concat to avoid DataFrame fragmentation
hours_columns = {}
for day in in_time_days.intersection(out_time_days):
    hours_columns[f'{day}_hours'] = (time_data[f'{day}_out'] - time_data[f'{day}_in']).dt.total_seconds() / 3600.0

# Concatenate all hours columns at once and create a new column called "duration_hours"
time_data = pd.concat([time_data, pd.DataFrame(hours_columns, index=time_data.index)], axis=1)
time_data['duration_hours'] = time_data[list(hours_columns.keys())].sum(axis=1)

# remove columns with only one or 0 distinct values
remove_col_depending_on_distinct_values(time_data, end_threshold=0)

# remove all the day columns keeping only duration_hours and EmployeeID
time_data = time_data[['EmployeeID', 'duration_hours']]
# insert the hour work by day columns back to time_data
time_data = pd.concat([time_data, pd.DataFrame(hours_columns, index=time_data.index)], axis=1)

print(time_data.describe())

## Clean employee / manager Data

In [ ]:
# merge employee and manager data on EmployeeID
employee_manager_data = pd.merge(employee_data, manager_data, on='EmployeeID', suffixes=('_emp', '_mgr'))

remove_col_depending_on_distinct_values(employee_manager_data)

#verification
# print(employee_manager_data.info())

## clean General data

In [615]:
col_before = general_data.columns.tolist()
remove_col_depending_on_distinct_values(general_data)
col_after = general_data.columns.tolist()
removed_cols = set(col_before) - set(col_after)
print(f"Removed columns: {removed_cols}")
# print(general_data.info())

Removed columns: {'Over18', 'StandardHours', 'EmployeeCount'}

## Get numerical and Categorical columns by dataset

In [616]:
# get numerical and categorical columns for each dataset
#general data
general_numerical_cols = general_data.select_dtypes(include=[np.number]).columns.tolist()
general_categorical_cols = general_data.select_dtypes(include=['object']).columns.tolist()
#time data
time_numerical_cols = time_data.select_dtypes(include=[np.number, np.datetime64]).columns.tolist()
#in_time data
# in_time_numerical_cols = in_time_data.select_dtypes(include=[np.number, np.datetime64]).columns.tolist()
#out_time data
# out_time_numerical_cols = out_time_data.select_dtypes(include=[np.number, np.datetime64]).columns.tolist()

#only numerical
#employee_manager data
employee_manager_numerical_cols = employee_manager_data.select_dtypes(include=[np.number]).columns.tolist()
#manager data
manager_numerical_cols = manager_data.select_dtypes(include=[np.number]).columns.tolist()
#employee data
employee_numerical_cols = employee_data.select_dtypes(include=[np.number]).columns.tolist()

#print the numerical and categorical columns for each dataset
#print("General Data Numerical Columns:", general_numerical_cols)
#print("General Data Categorical Columns:", general_categorical_cols)
#print("Employee Data Numerical Columns:", employee_numerical_cols)
#print("In Time Data Numerical Columns:", in_time_numerical_cols)
#print("In Time Data Categorical Columns:", in_time_categorical_cols)
#print("Out Time Data Numerical Columns:", out_time_numerical_cols)
# print("Out Time Data Categorical Columns:", out_time_categorical_cols)
#print("Manager Data Numerical Columns:", manager_numerical_cols)
# print(time_numerical_cols)

# Imput missing values

In [617]:
#imputing missing values for numerical columns with mean
general_data[general_numerical_cols] = general_data[general_numerical_cols].fillna(general_data[general_numerical_cols].median())
employee_data[employee_numerical_cols] = employee_data[employee_numerical_cols].fillna(employee_data[employee_numerical_cols].median())
# in_time_data[in_time_numerical_cols] = in_time_data[in_time_numerical_cols].fillna(in_time_data[in_time_numerical_cols].median())
# out_time_data[out_time_numerical_cols] = out_time_data[out_time_numerical_cols].fillna(out_time_data[out_time_numerical_cols].median())
manager_data[manager_numerical_cols] = manager_data[manager_numerical_cols].fillna(manager_data[manager_numerical_cols].median())


#imputing missing values for categorical columns with mode
general_data[general_categorical_cols] = general_data[general_categorical_cols].fillna(general_data[general_categorical_cols].mode().iloc[0])

#verify no missing values remain 
# print("Missing values in General Data:\n", general_data.isnull().sum())
# print("Missing values in Employee Data:\n", employee_data.isnull().sum())
# print("Missing values in Manager Data:\n", manager_data.isnull().sum())
# print("Missing values in In Time Data:\n", in_time_data.isnull().sum())
# print("Missing values in Out Time Data:\n", out_time_data.isnull().sum())

## Standardization for numerical data

In [618]:
# Initialize the StandardScaler
# scaler = StandardScaler(with_mean=True)
# # Scale numerical columns
# general_data[general_numerical_cols] = scaler.fit_transform(general_data[general_numerical_cols])
# employee_data[employee_numerical_cols] = scaler.fit_transform(employee_data[employee_numerical_cols])
# manager_data[manager_numerical_cols] = scaler.fit_transform(manager_data[manager_numerical_cols])

#display the first few rows of each dataset after preprocessing
# print("Employee Data after preprocessing:")
# print(employee_data.head())
# print("\nGeneral Data after preprocessing:")
# print(general_data.head())
# print("\nManager Data after preprocessing:")
# print(manager_data.head())
# print("\nIn Time Data after preprocessing:")
# print(in_time_data.head())
# print("\nOut Time Data after preprocessing:")
# print(out_time_data.head())

## Encoding categorical data

In [619]:
# find unique values in BusinessTravel column
print( general_data['BusinessTravel'].unique())

# Define the order for ordinal encoding (only category names, no numeric values)
# categories parameter needs to be a list of lists - one list per feature
business_travel_categories = [['Non-Travel', 'Travel_Rarely', 'Travel_Frequently']]
# ordinal encoding for categorical columns
general_data['BusinessTravel'] = pd.Categorical(general_data['BusinessTravel'], categories=business_travel_categories[0], ordered=True).codes
# remove 'BusinessTravel' from categorical columns list as it has been ordinal encoded
general_categorical_cols.remove('BusinessTravel')
# add 'BusinessTravel' to numerical columns list
general_numerical_cols.append('BusinessTravel')

# hot one encoding for categorical columns
general_data = pd.get_dummies(general_data, columns=general_categorical_cols, drop_first=True)


print("Categorical columns in General Data after Ordinal Encoding:")

# verify the new info of general_data
print(general_data.info())


# # in_time out_time not categorical or not using like that 

# # in_time_data = pd.get_dummies(in_time_data, columns=in_time_categorical_cols, drop_first=True)
# # out_time_data = pd.get_dummies(out_time_data, columns=out_time_categorical_cols, drop_first=True)

['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
Categorical columns in General Data after Ordinal Encoding:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                4410 non-null   int64
 1   BusinessTravel                     4410 non-null   int8
 2   DistanceFromHome                   4410 non-null   int64
 3   Education                          4410 non-null   int64
 4   EmployeeID                         4410 non-null   int64
 5   JobLevel                           4410 non-null   int64
 6   MonthlyIncome                      4410 non-null   int64
 7   NumCompaniesWorked                 4410 non-null   float64
 8   PercentSalaryHike                  4410 non-null   int64
 9   StockOptionLevel                   4410 non-null   int64
 10  TotalWorkingYears                  4410 non-null   float64
 11  TrainingTimesLastYear              4410 non-null   int64
 12  YearsAtCompany                     4410 non-null   int64
 13  YearsSinceLastPromotion            4410 non-null   int64
 14  YearsWithCurrManager               4410 non-null   int64
 15  Attrition_Yes                      4410 non-null   bool
 16  Department_Research & Development  4410 non-null   bool
 17  Department_Sales                   4410 non-null   bool
 18  EducationField_Life Sciences       4410 non-null   bool
 19  EducationField_Marketing           4410 non-null   bool
 20  EducationField_Medical             4410 non-null   bool
 21  EducationField_Other               4410 non-null   bool
 22  EducationField_Technical Degree    4410 non-null   bool
 23  Gender_Male                        4410 non-null   bool
 24  JobRole_Human Resources            4410 non-null   bool
 25  JobRole_Laboratory Technician      4410 non-null   bool
 26  JobRole_Manager                    4410 non-null   bool
 27  JobRole_Manufacturing Director     4410 non-null   bool
 28  JobRole_Research Director          4410 non-null   bool
 29  JobRole_Research Scientist         4410 non-null   bool
 30  JobRole_Sales Executive            4410 non-null   bool
 31  JobRole_Sales Representative       4410 non-null   bool
 32  MaritalStatus_Married              4410 non-null   bool
 33  MaritalStatus_Single               4410 non-null   bool
dtypes: bool(19), float64(2), int64(12), int8(1)
memory usage: 568.6 KB
None

# Merge All

In [620]:
# merge all datasets into a final dataset on EmployeeID
final_dataset = pd.merge(general_data, employee_manager_data, on='EmployeeID')
final_dataset = pd.merge(final_dataset, time_data, on='EmployeeID')

# place the EmployeeID column at the front
cols = final_dataset.columns.tolist()
cols.insert(0, cols.pop(cols.index('EmployeeID')))
final_dataset = final_dataset[cols]

# print to verify 

print(final_dataset.info())
print(final_dataset.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 301 entries, EmployeeID to 2015-03-03_hours
dtypes: bool(19), float64(267), int64(14), int8(1)
memory usage: 9.5 MB
None
   EmployeeID  Age  BusinessTravel  DistanceFromHome  Education  JobLevel  \
0           1   51               1                 6          2         1
1           2   31               2                10          1         1
2           3   32               2                17          4         4
3           4   38               0                 2          5         3
4           5   32               1                10          1         1

   MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StockOptionLevel  \
0         131160                1.00                 11                 0
1          41890                0.00                 23                 1
2         193280                1.00                 15                 3
3          83210                3.00                 11                 3
4          23420                4.00                 12                 2

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0               1.00                      6               1
1               6.00                      3               5
2               5.00                      2               5
3              13.00                      5               8
4               9.00                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager  Attrition_Yes  \
0                        0                     0          False
1                        1                     4           True
2                        0                     3          False
3                        7                     5          False
4                        0                     4          False

   Department_Research & Development  Department_Sales  \
0                              False              True
1                               True             False
2                               True             False
3                               True             False
4                               True             False

   EducationField_Life Sciences  EducationField_Marketing  \
0                          True                     False
1                          True                     False
2                         False                     False
3                          True                     False
4                         False                     False

   EducationField_Medical  EducationField_Other  \
0                   False                 False
1                   False                 False
2                   False                  True
3                   False                 False
4                    True                 False

   EducationField_Technical Degree  Gender_Male  JobRole_Human Resources  \
0                            False        False                    False
1                            False        False                    False
2                            False         True                    False
3                            False         True                     True
4                            False         True                    False

   JobRole_Laboratory Technician  JobRole_Manager  \
0                          False            False
1                          False            False
2                          False            False
3                          False            False
4                          False            False

   JobRole_Manufacturing Director  JobRole_Research Director  \
0                           False                      False
1                           False                      False
2                           False                      False
3                           False                      False
4                           False                      False

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                       False                    False
1                        True                    False
2                       False                     True
3                       False                    False
4                       False                     True

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single  \
0                         False                   True                 False
1                         False                  False                  True
2                         False                   True                 False
3                         False                   True                 False
4                         False                  False                  True

   EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance  JobInvolvement  \
0                     3.00             4.00             2.00               3
1                     3.00             2.00             4.00               2
2                     2.00             2.00             1.00               3
3                     4.00             4.00             3.00               2
4                     4.00             1.00             3.00               3

   PerformanceRating  duration_hours  2015-04-07_hours  2015-06-01_hours  \
0                  3         1710.69              7.64               NaN
1                  4         1821.68              7.47              8.11
2                  3         1697.20              7.24              6.79
3                  3         1690.51              7.06              6.97
4                  3         1961.51              8.04              8.06

   2015-02-18_hours  2015-07-24_hours  2015-10-09_hours  2015-06-03_hours  \
0              7.84              7.48              7.61              7.51
1              7.90              7.86              7.63              7.79
2              7.05              6.86              6.92              7.31
3              6.87              7.39              6.87              7.32
4              8.09              8.13              7.67              8.19

   2015-09-25_hours  2015-10-05_hours  2015-10-02_hours  2015-12-08_hours  \
0              7.73              7.03               NaN              7.94
1              8.14              8.10               NaN              7.72
2              6.98              7.02               NaN              7.49
3               NaN               NaN               NaN              7.28
4              8.56              8.51               NaN              8.54

   2015-05-08_hours  2015-05-22_hours  2015-08-21_hours  2015-12-04_hours  \
0              7.62              7.13              7.73              7.12
1              7.18              8.02              7.53              7.98
2              6.87              6.83              7.01              7.07
3              7.71               NaN              6.84              6.91
4              7.67              8.15              8.05              7.87

   2015-10-30_hours  2015-10-22_hours  2015-09-10_hours  2015-04-15_hours  \
0              7.31               NaN              7.38              7.46
1              7.75              8.56              7.89              7.47
2              6.63              7.02              7.54              7.27
3               NaN              6.79              7.29              6.50
4              7.59              8.32              8.40              8.07

   2015-03-10_hours  2015-04-10_hours  2015-08-06_hours  2015-05-11_hours  \
0              6.92              7.12              7.51               NaN
1              7.69              7.92              8.54              7.53
2              6.87              6.76              6.88              7.03
3              7.40              6.97              7.05              7.13
4              8.06              7.95              7.60              7.79

   2015-06-24_hours  2015-07-13_hours  2015-03-30_hours  2015-06-08_hours  \
0              7.11              7.28              7.36              7.07
1              7.53               NaN              7.40              7.58
2               NaN              6.35              6.71              7.64
3              7.47              7.38              7.04              7.28
4              7.55              7.93              7.70              8.16

   2015-09-07_hours  2015-02-09_hours  2015-11-27_hours  2015-05-01_hours  \
0              7.38              7.60              7.09               NaN
1              8.19               NaN              7.95               NaN
2              6.83              6.66               NaN               NaN
3              7.04              7.33              6.95               NaN
4              7.81              8.19              8.12               NaN

   2015-12-18_hours  2015-01-07_hours  2015-02-23_hours  2015-10-08_hours  \
0               NaN              7.01              7.44              7.49
1              7.90              7.40              8.26              8.25
2              6.79              6.76              7.75              6.93
3              7.63              6.92              7.18              7.50
4              7.90              7.81              7.80              7.99

   2015-03-27_hours  2015-01-19_hours  2015-06-17_hours  2015-07-23_hours  \
0              7.56               NaN              7.53              6.68
1              7.77              7.58              8.23              7.93
2               NaN              7.07              6.99              6.94
3               NaN              6.52              7.27              7.41
4              7.90               NaN              8.35              7.77

   2015-04-29_hours  2015-02-03_hours  2015-09-17_hours  2015-08-04_hours  \
0              7.69              7.20               NaN              7.18
1               NaN              7.63               NaN              7.85
2              6.96              6.52               NaN              6.80
3              7.14              7.44               NaN              7.28
4              7.65              8.03               NaN              8.30

   2015-04-27_hours  2015-10-21_hours  2015-11-10_hours  2015-01-01_hours  \
0              7.24               NaN               NaN               NaN
1              7.64              7.08               NaN               NaN
2              7.00              7.00               NaN               NaN
3              7.37              7.05               NaN               NaN
4              8.67              8.32               NaN               NaN

   2015-05-15_hours  2015-03-20_hours  2015-09-22_hours  2015-11-09_hours  \
0              6.82              7.16              7.65               NaN
1              7.40              7.43              7.26               NaN
2              6.61               NaN              6.88               NaN
3              7.15              7.21              6.99               NaN
4              7.81              7.77              7.94               NaN

   2015-05-13_hours  2015-07-01_hours  2015-10-15_hours  2015-08-14_hours  \
0              7.50              7.72              7.57              7.14
1              7.48              7.70               NaN              7.85
2              6.83              6.72              6.79              7.05
3              7.17              6.87              7.17              7.42
4              7.47              7.71              8.12              8.08

   2015-10-19_hours  2015-11-17_hours  2015-04-14_hours  2015-06-10_hours  \
0              7.55              7.10              7.15              7.08
1              7.94              8.00              8.17              8.09
2              6.55              7.29              7.23              7.34
3              7.10              6.59               NaN              7.25
4              7.62              7.91              8.53              7.81

   2015-10-13_hours  2015-07-08_hours  2015-02-04_hours  2015-09-04_hours  \
0               NaN              7.49              7.61              7.53
1              8.30              8.02              7.64              7.81
2              6.69              6.86              7.36              7.08
3              7.11              6.95              6.98              7.09
4              7.95              7.82              8.00              8.11

   2015-08-13_hours  2015-07-28_hours  2015-08-03_hours  2015-04-03_hours  \
0              7.37              6.71              6.95              7.19
1              8.07              7.87              7.78              7.62
2              6.75              7.73              7.05              6.75
3              6.77              7.01              7.65              7.07
4              8.38              7.63              7.75              7.83

   2015-08-11_hours  2015-09-14_hours  2015-02-16_hours  2015-11-30_hours  \
0              7.53              6.87              7.61              7.01
1              7.26              7.46              7.70              7.53
2              6.78              7.36              7.02              6.98
3              7.66              7.89              7.35              7.31
4              8.36              8.15              7.92              8.44

   2015-09-23_hours  2015-10-06_hours  2015-12-07_hours  2015-04-22_hours  \
0              7.04              7.68              6.89              7.53
1              7.70              7.06              7.51              8.00
2              7.16              7.52              6.80              7.45
3              7.07              7.17              7.40              7.26
4              8.30              7.80              8.10              7.49

   2015-03-06_hours  2015-05-28_hours  2015-06-30_hours  2015-08-12_hours  \
0              7.82              7.45              7.30              7.61
1              7.34              7.28              7.11              7.76
2              6.77              6.31              6.59              7.04
3               NaN              7.67              7.20              7.18
4              8.18              7.75              8.12               NaN

   2015-03-19_hours  2015-09-28_hours  2015-05-12_hours  2015-10-20_hours  \
0              7.85              7.64              7.44              7.04
1              7.70              7.70              7.92              7.57
2              6.55              7.81              7.10              6.97
3              7.01              7.01              7.27              7.49
4              7.74              8.19              8.63              8.50

   2015-11-13_hours  2015-09-02_hours  2015-10-23_hours  2015-08-17_hours  \
0              7.33              7.19              7.17              7.06
1              8.20              7.50              6.73              8.20
2              7.00              7.24              6.87              6.90
3              6.74              6.99              7.51              7.15
4              7.87              8.35              8.10              8.21

   2015-04-23_hours  2015-12-31_hours  2015-11-23_hours  2015-01-30_hours  \
0              7.34              7.08              7.32              6.85
1              7.96              8.23              7.69              7.06
2               NaN              6.79              6.94              7.02
3              7.64              7.13              7.13              7.22
4              7.83              8.02              8.45              8.03

   2015-11-05_hours  2015-12-11_hours  2015-09-03_hours  2015-05-21_hours  \
0              7.64              7.65              7.43              7.47
1              7.36              7.46              7.91              7.71
2              6.69              7.20              7.15              7.12
3              7.51              6.97              7.29              7.21
4              8.13              8.70              8.83              7.86

   2015-07-03_hours  2015-03-31_hours  2015-03-23_hours  2015-05-20_hours  \
0              7.16              7.87              7.62              7.32
1              8.14              7.97              7.95              7.20
2              6.93              7.48              6.77              7.44
3              7.51              7.61              6.95              6.62
4              7.60              7.80              7.67              7.94

   2015-12-09_hours  2015-04-17_hours  2015-12-17_hours  2015-10-28_hours  \
0              7.95              7.28               NaN              7.70
1              7.97              7.74              7.93              7.55
2              7.54              7.61              7.22              6.46
3              6.88              6.98              7.46              7.06
4              7.85              7.88              8.32              7.99

   2015-04-06_hours  2015-09-11_hours  2015-05-04_hours  2015-04-28_hours  \
0              7.04              7.33              7.41              7.89
1              7.37              7.48              7.79              7.61
2              6.91              6.59              6.79              7.34
3              7.40              7.26              7.50              6.93
4              8.36              7.76              7.91              7.49

   2015-09-09_hours  2015-11-26_hours  2015-07-29_hours  2015-01-06_hours  \
0              7.53              7.43              7.15              7.41
1              7.58              7.90              7.94               NaN
2              6.80              7.46              7.39              6.41
3              7.35              6.90              7.85              6.94
4              8.09              7.63              7.67              7.68

   2015-03-04_hours  2015-01-13_hours  2015-03-11_hours  2015-08-27_hours  \
0              7.74              7.83              7.16              7.69
1              7.93              7.28              7.99              7.89
2              7.19              7.00              7.08              6.95
3              6.46              7.31              7.49              6.67
4              8.07              8.26              8.14              7.78

   2015-08-31_hours  2015-03-12_hours  2015-07-10_hours  2015-08-28_hours  \
0              7.00              7.08              7.37              7.55
1              7.84              7.52              7.70              7.57
2              6.74              7.28              7.05              6.65
3              6.98              7.62              7.61               NaN
4              7.48              8.08              8.26              7.69

   2015-05-19_hours  2015-09-01_hours  2015-09-15_hours  2015-03-05_hours  \
0              7.33               NaN              7.13               NaN
1              8.08              6.91              7.41               NaN
2              7.41              7.34              6.79               NaN
3              7.51              7.47              6.81               NaN
4              8.32              7.67              7.79               NaN

   2015-09-30_hours  2015-07-14_hours  2015-05-18_hours  2015-01-09_hours  \
0              7.37              7.13               NaN              7.48
1              7.87              7.51               NaN              7.15
2              6.76              7.39              7.24              6.86
3              6.85              7.75              6.89              7.19
4              7.83              7.83              7.52              7.72

   2015-05-27_hours  2015-03-09_hours  2015-11-18_hours  2015-08-24_hours  \
0              7.88              7.41              7.41              7.49
1              7.97              8.13              7.93              7.48
2              7.15              6.85              7.27              6.95
3              7.58              7.16              7.28               NaN
4              8.11              8.36              7.94              8.25
